<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Roblox Alt Gen</title>
  </head>
  <body>
    <div class="container is-max-desktop">
      <div class="field">
        <label class="label">Roblox Account Cookie</label>
        <p class="control has-icons-left">
          <input id="cookieInput" class="input is-primary" type="text" placeholder="Enter your roblox cookie..." />
          <span class="icon is-small is-left">
            <i class="fas fa-cookie-bite"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <label class="label">Roblox Game ID</label>
        <p class="control has-icons-left">
          <input id="gameIdInput" class="input is-link" type="text" placeholder="Enter your game's ID..." />
          <span class="icon is-small is-left">
            <i class="fas fa-gamepad"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <button class="button is-primary is-outlined" id="submitBtn" onclick="launchGame()">
          <span class="icon is-small">
            <i class="fas fa-check"></i>
          </span>
          <span>Launch Game</span>
        </button>
      </div>
    </div>

    <script>
      function launchGame() {
        cookieInput = document.getElementById("cookieInput").value || false;
        gameIdInput = document.getElementById("gameIdInput").value || false;
        if (!cookieInput || !gameIdInput) {
          return Swal.fire("Error", "You must provide a cookie and a game ID!", "error");
        }
        fetch(`./authTicket?cookie=${cookieInput}&gameid=${gameIdInput}`, {
          method: "POST",
        })
          .then((res) => res.text())
          .then((res) => {
            location.href = res;
          })
          .catch((err) => console.log(err));
      }
    </script>
  </body>
</html>
