<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <title>Roblox Alt Gen</title>
  </head>
  <body>
    <div class="container is-max-desktop">
      <div class="field">
        <label class="label">Cookie</label>
        <p class="control has-icons-left">
          <input id="cookieInput" class="input is-primary" type="text" placeholder="Cookie" value="_|WARNING:-DO-NOT-SHARE-THIS.--Sharing-this-will-allow-someone-to-log-in-as-you-and-to-steal-your-ROBUX-and-items.|_6F1124597F77ED4A1E0058B4C20A732B6392031F4FD7C5DCB81309E18DDD6B00398758CA2DD1B22D0A6DA63A72E29F744CBE76E9B78AA53342F8E6DA4913C06F59BBDDEF68DA4A55725FC7BFD081D0E1D43CFF924BE38B0834F98EC1CFEB512C9E0B2625A91F3CBD1D886BAAC74C9DE608CF3D5C6A195AB9DB01EBC7F03380DD99EC05535FFD57DFE7683CA8C73326F18F4DF2514594FF7C3FBAE02EF470CA105DF57D2CB60EC869A28BE88BAB38962853F99770F7C27EEF62CBC930D7E2C4C77EBCF3703CF3C3DE87FC09358A5B286C27814FB23371F12C3EC15E8B69A7D63B7C717E6CE7A882FB86D9E30882AB195E515DB9CD6AFADF8DAE234AE422D1BBC0A15363FC6062F477127F5747B22A632A554F24970EA48F4D3E12248F271B9697933EDE21F14EE2DBB7B98E404C95A6491E7D5AE707F337C79FF6FA766A405653F7C8F5C496B3AB8CD65B3F7091EC0D512BBF75F0" />
          <span class="icon is-small is-left">
            <i class="fas fa-cookie-bite"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <label class="label">Roblox Game ID</label>
        <p class="control has-icons-left">
          <input id="gameIdInput" class="input is-link" type="text" placeholder="Game ID" value="621129760" />
          <span class="icon is-small is-left">
            <i class="fas fa-gamepad"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <button class="button is-primary is-outlined" id="submitBtn" onclick="launchGame()">
          <span class="icon is-small">
            <i class="fas fa-check"></i>
          </span>
          <span>Launch Game</span>
        </button>
      </div>
    </div>

    <script>
      function launchGame() {
        cookieInput = document.getElementById("cookieInput").value;
        gameIdInput = document.getElementById("gameIdInput").value;
        fetch(`./authTicket?cookie=${cookieInput}&gameid=${gameIdInput}`, {
          method: "POST",
        })
          .then((res) => res.text())
          .then((res) => {
            location.href = res;
          })
          .catch((err) => console.log(err));
      }
    </script>
  </body>
</html>
